<!-- include header -->
<%-include("include/_header")%>
<!-- include header -->

 <!-- main site -->
 <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i>All patients</a>
           </div>
        </div>
        
        <div class="form-title">
              <h1 id="reg">Register The Patient</h1>
        </div>

        <!-- add patient form -->
        <%-include('include/_form')%>
        
    </div>
</main>
<!-- main site -->

<!-- include footer -->
<%-include('include/_footer')%>
<!-- include footer -->